body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.main-container {
  margin-bottom: 150px;
}

.snippet-title {
  margin-left: 100px;
  margin-top: 20px;
  color: darkblue;
}

code {
  line-height: 1.5 !important;
}

.token.comment {
  color: red !important;
}

.dot {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin-right: 4px;
}

.red-dot {
  background-color: red;
}

.yellow-dot {
  background-color: yellow;
}

.green-dot {
  background-color: green;
}

.dot-3 {
  position: relative;
  top: 36px;
  z-index: 1000;
  left: 16px
}